/*  your css code here. If applicable */
nav {
            background-color: #D3D3D3;
            padding: 10px;
        }

        /* Remove bullets */
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        /* Display list items horizontally */
        nav ul li {
            display: inline;
            margin-right: 1rem;
        }